<!-- templates/intro.html -->
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>하트시그널 - 당신의 심장에 귀기울여보세요</title>
  <link href="/static/css/output.css" rel="stylesheet" />
  <link href="/static/css/branding.css" rel="stylesheet" />
</head>

<body class="bg-gray-100 flex justify-center items-center h-screen text-center">
  <div class="bg-gray-100 flex justify-center items-center h-screen text-center">
    <div>
      <div class="text-4xl font-bold mb-1">
        <span class="text-[var(--color-heart-signal-pink)]">Heart</span>
        <span class="text-[var(--color-heart-signal-blue)]">Signal</span>
      </div>
      <div class="text-xl text-[#7b6f72] font-bold">
        당신의 심장❤️에 귀기울여보세요
      </div>
    </div>
  </div>
  <div>
    <a href="/index" class="text-white text-center fixed bottom-2 left-2 right-2 py-2 rounded font-bold custom-button">
      시작하기
    </a>
  </div>
</body>

</html>