.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #f5f5f5; /* You can change it to any color you want */
}

h2 {
    color: #555; /* This color is just a placeholder, you can change it */
    font-size: 2em; /* Adjust the size as needed */
    margin-bottom: 20px;
}

.start-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.start-button:hover {
    background-color: #0056b3;
}
